[submodule "submodules/angularjs"]
	path = submodules/angularjs
	url = https://github.com/kelp404/angularjs.git
	ignore = dirty
[submodule "submodules/jquery"]
	path = submodules/jquery
	url = https://github.com/kelp404/jquery.git
	ignore = dirty
[submodule "submodules/ui-router"]
	path = submodules/ui-router
	url = https://github.com/angular-ui/ui-router.git
	ignore = dirty
[submodule "submodules/nprogress"]
	path = submodules/nprogress
	url = https://github.com/rstacruz/nprogress.git
	ignore = dirty
[submodule "submodules/AlertView"]
	path = submodules/AlertView
	url = https://github.com/kelp404/AlertView.git
	ignore = dirty
