<div class="gallery">
    <!-- desktop menu -->
    <nav class="navbar navbar-default hidden-xs" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-desktop">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/">Tower of Saviors</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-desktop">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>

    <!-- mobile menu -->
    <nav class="navbar navbar-default visible-xs" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-mobile">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/">Tower of Saviors</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-mobile">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Light</a></li>
                <li><a href="#">Dark</a></li>
                <li><a href="#">Water</a></li>
                <li><a href="#">Fire</a></li>
                <li><a href="#">Wood</a></li>
            </ul>
            <hr/>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Human</a></li>
                <li><a href="#">Dragon</a></li>
                <li><a href="#">Beast</a></li>
                <li><a href="#">Elf</a></li>
                <li><a href="#">God</a></li>
                <li><a href="#">Fiend</a></li>
                <li><a href="#">Evolve Elements</a></li>
            </ul>
        </div>
    </nav>
    
    <div ng-repeat="card in cards" class="card col-xs-3 col-sm-2 col-md-1">
        <a href="#/cards/{{card.id}}"><img ng-src="{{card.imageSm}}" title="{{card.name}}" class="img-responsive"/></a>
    </div>
</div>