<div class="card">
    <img ng-src="{{card.imageMd}}" class="img-responsive visible-md pull-right" style="max-width: 420px;"/>
    <img ng-src="{{card.imageMd}}" class="img-responsive hidden-md pull-right"/>
    <div class="visible-xs visible-sm" style="height: 7px; clear: both;"></div>

    <!-- icon, name -->
    <img ng-src="{{card.imageSm}}" class="icon pull-left"/>
    <h3 class="name" ng-bind="card.name"></h3>
    <hr/>

    <!-- mobile -->
    <div class="hidden-md hidden-lg">
        <!-- information -->
        <table class="table table-striped">
            <tbody>
            <tr>
                <td tos-lang="attribute">Attribute</td>
                <td tos-lang="{{card.attribute}}"></td>
            </tr>
            <tr>
                <td tos-lang="rarity">Rarity</td>
                <td>
                    <span ng-repeat="index in rarityArray">★</span>
                </td>
            </tr>
            <tr>
                <td tos-lang="cost">Cost</td>
                <td tos-lang="{{card.cost}}"></td>
            </tr>
            <tr>
                <td tos-lang="race">Race</td>
                <td tos-lang="{{card.race}}"></td>
            </tr>
            <tr>
                <td tos-lang="species">Species</td>
                <td tos-lang="{{card.species}}"></td>
            </tr>
            </tbody>
        </table>

        <!-- basic properties -->
        <table class="table table-striped">
            <thead>
            <tr>
                <th>LV</th>
                <th tos-lang="hp"></th>
                <th tos-lang="attack"></th>
                <th tos-lang="recovery"></th>
                <th tos-lang="total"></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td ng-bind="card.properties.lvMin.lv"></td>
                <td ng-bind="card.properties.lvMin.hp"></td>
                <td ng-bind="card.properties.lvMin.attack"></td>
                <td ng-bind="card.properties.lvMin.recovery"></td>
                <td ng-bind="card.properties.lvMin.total"></td>
            </tr>
            <tr>
                <td ng-bind="card.properties.lvMax.lv"></td>
                <td ng-bind="card.properties.lvMax.hp"></td>
                <td ng-bind="card.properties.lvMax.attack"></td>
                <td ng-bind="card.properties.lvMax.recovery"></td>
                <td ng-bind="card.properties.lvMax.total"></td>
            </tr>
            </tbody>
        </table>

        <!-- skills -->
        <h4 tos-lang="activeSkill"></h4>
        <blockquote>
            <p ng-bind="card.activeSkill.name"></p>
            <small ng-bind="card.activeSkill.description"></small>
        </blockquote>
        <h4 tos-lang="leaderSkill"></h4>
        <blockquote>
            <p ng-bind="card.leaderSkill.name"></p>
            <small ng-bind="card.leaderSkill.description"></small>
        </blockquote>

        <!-- origin -->
        <table class="table table-striped">
            <thead>
            <tr>
                <th tos-lang="origin"></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td tos-lang="friendPointSeal"></td>
                <td>
                    <span ng-if="card.origin.friendPointSeal" class="glyphicon glyphicon-ok text-success"></span>
                    <span ng-if="!card.origin.friendPointSeal" class="glyphicon glyphicon-remove text-muted"></span>
                </td>
            </tr>
            <tr>
                <td tos-lang="diamondSeal"></td>
                <td>
                    <span ng-if="card.origin.diamondSeal" class="glyphicon glyphicon-ok text-success"></span>
                    <span ng-if="!card.origin.diamondSeal" class="glyphicon glyphicon-remove text-muted"></span>
                </td>
            </tr>
            <tr>
                <td tos-lang="levels"></td>
                <td><div ng-repeat="text in card.origin.levels track by $index" ng-bind="text"></div></td>
            </tr>
            <tr>
                <td tos-lang="others"></td>
                <td><div ng-repeat="text in card.origin.others track by $index" ng-bind="text"></div></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>