<div class="card">
    <div class="pull-right col-xs-12 col-md-6 no-padding">
        <img id="photo" src="images/cards/600/000.png" class="img-responsive cover"/>
        <img ng-src="{{card.imageMd}}" class="img-responsive" tos-loading-cover="#photo"/>
    </div>
    <div class="visible-xs visible-sm" style="height: 7px; clear: both;"></div>

    <!-- icon, name -->
    <div class="col-xs-12 col-md-6 information" style="float: inherit;">
        <img ng-src="{{card.imageSm}}" class="icon pull-left"/>
        <h3 class="name" ng-bind="card.name"></h3>
    </div>

    <div class="col-xs-12 col-md-6" style="float: inherit;">
        <!-- information -->
        <table class="table table-striped">
            <tbody>
            <tr>
                <td tos-lang="attribute">Attribute</td>
                <td><a tos-lang="{{card.attribute}}" href="#/search/{{card.attribute}}"></a></td>
            </tr>
            <tr>
                <td tos-lang="rarity">Rarity</td>
                <td>
                    <span ng-repeat="index in rarityArray">★ </span>
                </td>
            </tr>
            <tr>
                <td tos-lang="cost">Cost</td>
                <td tos-lang="{{card.cost}}"></td>
            </tr>
            <tr>
                <td tos-lang="race">Race</td>
                <td><a tos-lang="{{card.race}}" href="#/search/{{card.race}}"></a></td>
            </tr>
            <tr>
                <td tos-lang="species">Species</td>
                <td><a tos-lang="{{card.species}}" href="#/species/{{card.species}}"></a></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="col-xs-12">
        <!-- basic properties -->
        <table class="table table-striped">
            <thead>
            <tr>
                <th>LV</th>
                <th tos-lang="hp"></th>
                <th tos-lang="attack"></th>
                <th tos-lang="recovery"></th>
                <th tos-lang="total"></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td ng-bind="card.properties.lvMin.lv"></td>
                <td ng-bind="card.properties.lvMin.hp"></td>
                <td ng-bind="card.properties.lvMin.attack"></td>
                <td ng-bind="card.properties.lvMin.recovery"></td>
                <td ng-bind="card.properties.lvMin.total"></td>
            </tr>
            <tr ng-if="card.properties.lvMax.lv > 1">
                <td ng-bind="card.properties.lvMax.lv"></td>
                <td ng-bind="card.properties.lvMax.hp"></td>
                <td ng-bind="card.properties.lvMax.attack"></td>
                <td ng-bind="card.properties.lvMax.recovery"></td>
                <td ng-bind="card.properties.lvMax.total"></td>
            </tr>
            </tbody>
        </table>

        <!-- skills -->
        <h4 tos-lang="activeSkill"></h4>
        <blockquote>
            <p ng-bind="card.activeSkill.name"></p>
            <small ng-bind="card.activeSkill.description"></small>
        </blockquote>
        <h4 tos-lang="leaderSkill"></h4>
        <blockquote>
            <p ng-bind="card.leaderSkill.name"></p>
            <small ng-bind="card.leaderSkill.description"></small>
        </blockquote>

        <!-- evolve -->
        <div ng-if="card.evolve.origin || card.evolve.result" class="evolve">
            <span ng-if="card.evolve.origin">
                <a href="#/cards/{{card.evolve.origin}}"><img ng-src="{{dependencies.cards[card.evolve.origin].imageSm}}"/></a>
                <span class="glyphicon glyphicon-arrow-right text-success"></span>
            </span>
            <a href="#" tos-goto-top><img ng-src="{{card.imageSm}}"/></a>
            <span ng-if="card.evolve.resources">
                <span class="glyphicon glyphicon-plus text-success"></span>
                <a ng-repeat="id in card.evolve.resources track by $index" href="#/cards/{{id}}"><img ng-src="{{dependencies.cards[id].imageSm}}"/></a>
            </span>
            <span ng-if="card.evolve.result">
                <span class="glyphicon glyphicon-arrow-right text-info"></span>
                <a href="#/cards/{{card.evolve.result}}"><img ng-src="{{dependencies.cards[card.evolve.result].imageSm}}"/></a>
            </span>
        </div>

        <!-- origin -->
        <table class="table table-striped">
            <thead>
            <tr>
                <th tos-lang="origin"></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td tos-lang="friendPointSeal"></td>
                <td>
                    <span ng-if="card.origin.friendPointSeal" class="glyphicon glyphicon-ok text-success"></span>
                    <span ng-if="!card.origin.friendPointSeal" class="glyphicon glyphicon-remove text-muted"></span>
                </td>
            </tr>
            <tr>
                <td tos-lang="diamondSeal"></td>
                <td>
                    <span ng-if="card.origin.diamondSeal" class="glyphicon glyphicon-ok text-success"></span>
                    <span ng-if="!card.origin.diamondSeal" class="glyphicon glyphicon-remove text-muted"></span>
                </td>
            </tr>
            <tr>
                <td tos-lang="levels"></td>
                <td><div ng-repeat="text in card.origin.levels track by $index" ng-bind="text"></div></td>
            </tr>
            <tr>
                <td tos-lang="others"></td>
                <td><div ng-repeat="text in card.origin.others track by $index" ng-bind="text"></div></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>