
@import "compass/css3";


/* ---------------- cards -------------- */
.no-padding {
    padding: 0;
}
.gallery .card {
    padding: 1px;
}
.card {
    .information {
        margin-bottom: 7px;
        .icon {
            width: 50px;
            height: 50px;
        }
        .name {
            display: inline;
            line-height: 50px;
            padding-left: 7px;
        }
    }
    .evolve {
        padding: 4px;
        font-size: 20px;
        img {
            height: 50px;
            width: 50px;
            margin: 1px;
        }
    }
}


/* ---------------- footer -------------- */
.footer {
    line-height: 60px;
}


/* ---------------- nprogress -------------- */
/* Make clicks pass-through */
#nprogress {
    pointer-events: none;
}

#nprogress .bar {
    z-index: 99998;
    background-color: #f33;
    color: #f33;
    box-shadow: 0 0 10px 0; /* Inherits the font color */
    /* Add CSS3 styles for transition smoothing */
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;

    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 2px;
}

/* Fancy blur effect */
#nprogress .peg {
    display: block;
    position: absolute;
    right: 0px;
    width: 100px;
    height: 100%;
    box-shadow: 0 0 10px #f33, 0 0 5px #f33;
    opacity: 1.0;

    -webkit-transform: rotate(3deg) translate(0px, -4px);
    -ms-transform: rotate(3deg) translate(0px, -4px);
    transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
    display: block;
    position: fixed;
    z-index: 100;
    top: 15px;
    right: 15px;
}

#nprogress .spinner-icon {
    width: 18px;
    height: 18px;
    box-sizing: border-box;

    border: solid 2px transparent;
    border-top-color: #29d;
    border-left-color: #29d;
    border-radius: 50%;

    -webkit-animation: nprogress-spinner 400ms linear infinite;
    animation: nprogress-spinner 400ms linear infinite;
}

@-webkit-keyframes nprogress-spinner {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes nprogress-spinner {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}